@model BlogModel

@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogAdd</h1>


@*@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))*@
<form method="post">

    <div class="form-group">
        <label for="exampleInputEmail1 mb-2">Please Enter Blog Title!</label>
        <input type="text" class="form-control" name="BlogTitle" required="Required">
    </div>
    @*@Html.Label("Please Enter Blog Title!")
        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-success" })*@
    <br />
    <br />
    <div class="form-group">
        <label for="exampleInputEmail1 mb-2">Please Enter Blog Image!</label>
        <input type="file"  name="BlogImage" >
    </div>
    @*@Html.Label("Please Enter Blog Image!")
        @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })*@
    @*@Html.ValidationMessageFor(x => x.BlogImage, "", new { @class = "text-success" })*@
    <br />
    <br />
    <select id="drpEmpList" class="form-control" name="CategoryID" asp-items="@(new SelectList((List<SelectListItem>)ViewBag.category, "Value", "Text"))">
        <option value="">--Select Category--</option>
    </select>
    @*@Html.Label("Please Enter Blog Category!")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.category, new { @class = "form-control" })*@
    <br />
    <br />
    <div class="form-group">
        <label for="exampleInputEmail1 mb-2">Please Enter Blog Content!</label>
        <textarea class="form-control" name="BlogContent"></textarea>
    </div>
    @*@Html.Label("Please Enter Blog Content!")
        @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-success" })*@
    <br />
    <br />
    <button class="btn btn-info">Add</button>
</form>

