@model Blog

@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogAdd</h1>


@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{
    @Html.Label("Please Enter Blog Title!")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-success" })
    <br />
    <br />
    @Html.Label("Please Enter Blog Image!")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    @*@Html.ValidationMessageFor(x => x.BlogImage, "", new { @class = "text-success" })*@
    <br />
    <br />
    @Html.Label("Please Enter Blog Thumbnail!")
    @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Please Enter Blog Category!")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Please Enter Blog Content!")
    @Html.TextAreaFor(x => x.BlogContent, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-success" })
    <br />
    <br />
    <button class="btn btn-info">Add</button>
}